html,body,div {
	padding:0;
	margin:0;
	box-sizing: inherit;
}
.top-wrapper {
	width:100%;
	height:500px;
	margin:0;
	padding: 0;
}
.head {
	color:transparent;
	font-family: cursive;
	font-size:50px;
	text-align: center;
	margin-top: 60px;
	letter-spacing: 2px;
	background-image: linear-gradient(to right ,#2F4F4F,beige,black,#D2691E);
	-webkit-background-clip: text;
	animation: animate 15s linear infinite;
	background-size: 1000%;
}
@keyframes animate 
{
	0%
	{
		background-position: 0% 100%;
	}
	50%
	{
		background-position: 100% 0%;
		
	}
	100%
	{
		background-position: 0% 100%;
		
	}
}
.subhead {
	font-family: Trebuchet MS;
	margin-top: 5px;
	text-align: center;
	font-size:35px;
	letter-spacing: 1px;
	color:lightblue;
	animation: hello 5s infinite ease-in-out;
}
@keyframes hello
{
	0%
	{
	transform: scale(1);
	}
	50%
	{
	transform: scale(.8);
	}
	100%
	{
	transform: scale(1);
	}
}
.background {
	display: block;
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-size:cover;
	background-position: center;
	background-image: url(background.jpg);
}
.background::before {
	display: block;
	content: " ";
	position:absolute;
	height:100%;
	width:100%;
	opacity: .3;
	background:rgb(128,0,128);
	background-size:cover;
}
.btn-wrapper {
	cursor:pointer;
	font-family: cursive;
	margin-top: 140px;
	margin-left:42%;
	z-index: 100;
	padding:12px;
	font-weight: 500;
	color:black;
	letter-spacing: 2px;
	border-radius:25px;
	border: solid grey;
	background-color: lightblue;
	transition: all .3s;
}
.btn-wrapper:hover {
	background-color:black;
	color:lightblue;
	transform:scale(1.1);
}
.write {
	position: inherit;
	display:inline-block;
	margin-left:42%;
	margin-top: 20px;
	font-size: 18px;
	border:1px solid black;
	border-radius: 20px;
	z-index: 50;
}

.submit {
	position: inherit;
	font-size:20px;
	border-radius: 40px;
	cursor: pointer;
	z-index: 50;
	transition: all .3s;
	background-color: lightblue;
}
.submit:hover {
	color:white;
	background-color: black;
	transform:scale(1.1);
}
.number-modal-wrapper {
	top:0;
	bottom:0;
	right:0;
	left:0;
}
.modal {
	position:relative;
	text-align:center;
	color: black;
	background-color: white;
	width:600px;
	left:30%;
	border-radius:20px;
	font-size: 30px;
	box-shadow: 0 0 10px black;
	z-index: 10;
	display:none;
}
.modal.active {
	display: flex;
}
.fa-times {
	position:absolute;
	cursor:pointer;
	color:black;
	top:2px;
	right:10px;
}
.fa-times:hover {
   transition:0.5s;
   color:black;
   background-color:transparent; 
}
.popup-container {
	position: fixed;
	display:none;
	top:0;
	bottom:0;
	right:0;
	left:0;
	justify-content: center;
	z-index: 1;
	height:300px;
}
.popup {
	margin:250px 0;
	width:30%;
}
.popup-container.active {
	display: flex;
}
.close2 {
	position:absolute;
	cursor:pointer;
	color:black;
	top:260px;
	right:500px;
	z-index: 5;
	font-size:15px;
	background-color: lightblue;
}
.close2:hover {
   color:white;
   background-color:black;
   transform:scale(1.1);
}
.display {
	position: relative;
	background-color:lightblue;
	color:black;
	border-radius:50px;
	box-shadow: 0 0 20px black;
}
.display p {
	text-align: center;
	font-weight: 700;
	padding-bottom: 40px;
}
.display .winner {
	margin-top: 10px;
	margin-left: 110px;
}
.display .first {
	margin-top: 10px;
	margin-left: 110px;
}
.display .second {
	margin-top: 10px;
	margin-left: 110px;
}
.display .lose {
	font-size:25px;
	text-align: center;
	font-weight: 700;
	padding: 100px 40px;
}
.wrapper {
	background-color:lightblue;
	z-index: -1;
}
.middle_heading {
	font-family: Trebuchet MS;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size:40px;
	color:darkgreen;
    margin-top: 60px;
    padding-top:50px;
}
.container {
	margin:40px;
	padding-bottom: 20px;
}
.container .box {  
	height:20rem;
	position: relative;
	display: flex;
	margin:0 100px 90px 100px;
	box-shadow:inset 0 0 10px grey;
}
.image1 {
	float: right;
	width:100%;
	height:100%;
	background-size: cover;
}
.image2 {
	float: right;
	width:100%;
	height:100%;
	background-size: cover;
}
.image3 {
	float: right;
	width:100%;
	height:100%;
	background-size: cover;
}
.container .heading {
	text-align: center;
	font-weight:700;
	font-size: 2rem;
}